python-dotenv
pandas
langchain
langchain-community
langchain-huggingface
langchain-ollama --Para pruebas locales
langchain-groq --para que quede 24/7 corriendo
faiss-cpu
sentence-transformers
streamlit
